{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron text-center">
    <h1><b>Welcome to SnackN Post!</b></h1>
        <p class="lead">Where the best snack come from your distant neighborhood!
            They may not quite look or taste the same, but you're only the same if you keep the same.
            We contain many different varieties, from Thailand, Norway and even Japan!  The taste that varies.</p>
    </div>
    <br>
    <div class="jumbotron text-center">
    <h1><b>About Us</b></h1>
<p class="lead">We are based out of Plymouth, Minnesota.
    We have one in Minnesota and only a few different locations out in the Westcoast; Portland, Oregon, Fresno, California, and San Diego, California.
    We are partnered with Wal-mart. We branched off of Wal-mart when I was introduced to Wally.  That instant I met Wally, he knew I had a plan under my belt.
    In order to make something, you have to take a chance, and that is what Wally did.  He took a chance on me and from there, the business has been blooming!  From here, the rest will be history!</p>
</div>

{% endblock content %}